@page "/"
@using BlazorApp.Shared
@using Microsoft.Extensions.Logging
@inject ILogger<Index> Logger
@inject NavigationManager NavManager

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
<EditForm Model="@combatPost" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <label>
    Name:
    <br />
    <InputText id="name" @bind-Value="combatPost.Name" />
    </label>
    <br />
    <label>
    Combat paste:
    <br />
    <InputTextArea id="combatstring" @bind-Value="combatPost.CombatString" />
    </label>
    <br />
    <button type="submit">Submit</button>
</EditForm>

@code {
    private CombatPost combatPost = new();

    private void HandleValidSubmit()
    {
        string uqfilename = "abc";
        Logger.LogInformation("HandleValidSubmit called");
        NavManager.NavigateTo($"/CombatTable?combatlog={uqfilename}");
    }
}