@page "/"
@using BlazorApp.Shared
@using Microsoft.Extensions.Logging
@inject ILogger<Index> Logger
@inject NavigationManager NavManager
@inject HttpClient Http



<EditForm Model="@combatPost" OnValidSubmit="@HandleValidSubmit" class="form-group">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group">
        <label>
            Name:
        </label>
        <InputText id="name" @bind-Value="combatPost.Name" class="form-control" />
    </div>
    <div>
        <label>
            Combat paste:
        </label>
        <InputTextArea id="combatstring" @bind-Value="combatPost.CombatString" class="form-control" />
    </div>
    <br />
    <button class="btn btn-primary" type="submit">Submit</button>
</EditForm>

@code {
    //[20:02:39] Karlfranz pierces The aged starving kyklops deadly hard in the chest and slaps it.
    private CombatPost combatPost = new CombatPost{CombatString = "[20:02:39] Karlfranz pierces The aged starving kyklops deadly hard in the chest and slaps it."};

    private async Task HandleValidSubmit()
    {

        Logger.LogInformation("HandleValidSubmit called");

        var forecasts = await Http.PostAsJsonAsync<CombatPost>("/api/CombatLog", combatPost);
        string filename = await forecasts.Content.ReadAsStringAsync();
        NavManager.NavigateTo($"/CombatTable/{filename}");
    }
}