@page "/"
@using BlazorApp.Shared
@using Microsoft.Extensions.Logging
@inject ILogger<Index> Logger
@inject NavigationManager NavManager
@inject HttpClient Http


<EditForm Model="@combatPost" OnValidSubmit="@HandleValidSubmit" class="form-group">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group">
        <label>
            Character Name:
        </label>
        <InputText id="name" @bind-Value="combatPost.Name" class="form-control" />
    </div>
    <div>
        <label>
            Combat Paste:
        </label>
        <InputTextArea id="combatstring" @bind-Value="combatPost.CombatString" class="form-control large-text-area" />
    </div>
    <br />
    <button class="btn btn-primary" type="submit">Submit</button>
</EditForm>

<div class="@LoaderClass">
    <h3>Processing...</h3>
    <div class="loader"></div>
</div>

@code {
    private bool hideLoader = true;

    private string LoaderClass => hideLoader ? "loader-container loader-container-hidden" : "loader-container";

    private CombatPost combatPost = new CombatPost{Name = "", CombatString = @""};

    private async Task HandleValidSubmit()
    {

        Logger.LogInformation("HandleValidSubmit called");
        if (hideLoader)
        {
            hideLoader = false;

            var forecasts = await Http.PostAsJsonAsync<CombatPost>("/api/CombatLog", combatPost);
            string filename = await forecasts.Content.ReadAsStringAsync();

            hideLoader = true;
            NavManager.NavigateTo($"/CombatCreatureTable/{filename}");
        }
    }
}