<nav class="top-row pl-4 navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="">Combat Parser</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
        <ul class="nav">
            <li class="nav-item">
                <NavLink class="nav-link" href="https://github.com/webba/UniqueHitCounter">
                    <span class="oi oi-code" aria-hidden="true"></span> Github
                </NavLink>
            </li>
        </ul>
    </div>
</nav>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
